@CHARSET "UTF-8";

.x-slated-event {
    border: 1px solid black;
    background-color: #DDD;
    font-size: 8px;
    padding: 1px 3px;
    margin: 2px 0;
}

.x-slated-event-finished {
    border-color: #444;
    background-color: #BBB;
    color: #444;
}
