#hideStuff {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    height: 0.25em;
    width: 0.25em;
    background-color: #D26F6F;
    border: 2px outset #D26F6F;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

#hideStuff:hover {
    height: 1.2em;
    width: 7em;
}

._hide {
    display: none;
}

#consoleHeader {
    border: 5px double orange;
    height: 50px;
}

#consoleBodyOuter2 {
    width: 100%;
}

#consoleBodyOuter1 {
    vertical-align: top;
}

#consoleBodyInner {
    width: 100%;
}


#consoleSidebar {
    margin: 10px;
    width: 220px;
}

#consoleContentArea {
    margin: 10px;
}

.module {
    border-color: #666;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    margin: 10px 0;
    padding: 10px 2px;
}

.ringConfiguration {
    background-color: lightblue;
    font-size: 80%;
}

.ringConfiguration th {
    font-weight: bold;
    text-align: right;
}

.ringConfiguration th,
.ringConfiguration td {
    padding: 1px 2px;
    white-space: nowrap;
}

.ringConfiguration input {
    width: 100px;
}

.ringConfiguration select {
    width: 120px;
}

.ringEventList {
    background-color: lightgreen;
}

.ringEventListTitleBar {
    border-bottom: 1px dotted black;
    margin-bottom: 5px;
}

.ringEventListTable {
    background-color: white;
    font-size: 90%;
    width: 100%;
}

.ringEventListHead {
    white-space: nowrap;
}

.ringEventListHead th {
    border-bottom: 1px solid black;
    font-weight: bold;
    text-align: center;
}

.ringEventListBody {
    overflow-y: auto;
    overflow-x: hidden;
}

.ringEventListItemRow {
    cursor: pointer;
    font-size: 90%;
    vertical-align: top;
}

.ringEventListItemRowDone {
    color: #666;
    font-size: 80%;
    font-style: italic;
}

.ringEventListItemCode,
.ringEventListItemCompetitorCount,
.ringEventListItemDetails {
    padding: 1px 2px;
}

.ringEventListItemCode,
.ringEventListItemCompetitorCount {
    font-family: "Courier New", monospace;
}

.ringEventListItemCode {
    text-align: center;
}

.ringEventListItemCompetitorCount {
    text-align: right;
}

.ringEventListItemDetails {
    font-size: 90%;
    padding-right: 20px;
    vertical-align: middle;
}

.evenRow {
}

.oddRow {
    background-color: thistle;
}

.highlightRow {
    background-color: yellow;
}

.eventScoring {
    background-color: cornsilk;
}

/* Hide buttons as appropriate */
.eventScoring .controlEventEdit,
.eventScoring .controlEventDone,
.eventScoringDone .controlEventStart,
.eventScoringDone .controlEventDone,
.eventScoring._inProgress .controlEventStart,
.eventScoring._inProgress .controlEventEdit,
.eventScorintDone._underEdit .controlEventStart,
.eventScoringDone._underEdit .controlEventEdit {
    display: none;
}
/* Show buttons as appropraite */
.eventScoring .controlEventStart,
.eventScoringDone .controlEventEdit,
.eventScoring._inProgress .controlEventDone,
.eventScoringDone._underEdit .controlEventDone {
    display: inline;
}

.eventScoring._inProgress {
    background-color: yellow;
}


.eventScoringDone {
    background-color: gray;
}


.eventScoringDone._underEdit {
    background-color: orange;
}

.eventScoringControlBox {
    float: right;
}

.eventScoringControl {
    background-color: skyblue;
    border: 1px outset skyblue;
    cursor: pointer;
    font-size: 80%;
    margin: 0 2px;
}

.eventScoringContent {
    background-color: #FFF;
    border-color: #000;
    border-style: solid;
    border-width: 1px 0;
}

.eventScoringTable {
    background-color: #D7D7D7;
    border: 1px solid black;
    margin: 4px 2px;
}

.eventScoringHeaderCell {
    border-bottom: 2px solid #000;
    font-size: 70%;
    font-weight: bold;
    padding: 2px 3px;
    text-align: center;
    vertical-align: bottom;
}

.shadedEventScoring .eventScoringContent {
    display: none;
}

.scoringCompetitorId,
.scoringCompetitorName,
.scoringGroupName,
.scoringInput {
    padding: 1px 2px;
    white-space: nowrap;
}

.scoringGroupName {
    white-space: normal;
}

.scoringCompetitorId {
    font-family: "Courier New", monospace;
    font-size: 70%;
}

.scoringCompetitorName {
}

.scoringInput {
    font-size: 90%;
    text-align: center;
}

.scoringInput input {
    background-color: #FFF;
    border: 1px solid #000;
    text-align: center;
    width: 3em;
}

.judgeScore {
    background-color: #70A7AB;
}

.routineTime {
    background-color: #8470AB;
}

.meritedScore input,
.timeDeduction input,
.finalScore input,
.tieBreakerValue input {
    background-color: #EEE;
    color: #666;
}


.finalScore input {
    font-weight: bold;
    color: blue;
}

.meritedScore,
.timeDeduction,
.otherDeduction {
    background-color: #70AB82;
}

.finalScore,
.submitScore {
    background-color: #AB7094;
}

.tieBreakerValue input {
    width: 2em;
}

.scoringRowIsDropped .scoringCompetitorId,
.scoringRowIsDropped .scoringCompetitorName,
.scoringRowIsDropped .scoringGroupName {
    font-style: italic;
    color: gray;
}

.scoringRowNeedsSave .scoringCompetitorId,
.scoringRowNeedsSave .scoringCompetitorName,
.scoringRowNeedsSave .scoringGroupName {
    background-color: #FFA6A6;
}
.scoringRowNeedsSave .controlSubmitScore {
    background-color: red;
    border-color: red;
}

.eventScoringButtons {
    float: left;
}

.eventScoringInfoBox {
    font-size: 70%;
    padding: 2px;
    text-align: center;
}
