#consoleHeader {
    border: 5px double orange;
    height: 50px;
}

#consoleBodyOuter2 {
    width: 100%;
}

#consoleBodyOuter1 {
    vertical-align: top;
}

#consoleBodyInner {
    width: 100%;
}


#consoleSidebar {
    margin: 10px;
    width: 220px;
}

#consoleContentArea {
    margin: 10px;
}

.module {
    border: 1px dotted black;
    margin: 10px 0;
    padding: 10px 2px;
}

.ringConfiguration {
    background-color: lightblue;
    font-size: 80%;
}

.ringConfiguration th {
    font-weight: bold;
    text-align: right;
}

.ringConfiguration th,
.ringConfiguration td {
    padding: 1px 2px;
    white-space: nowrap;
}

.ringConfiguration input {
    width: 100px;
}

.ringConfiguration select {
    width: 120px;
}

.ringEventList {
    background-color: lightgreen;
}

.ringEventListTitleBar {
    border-bottom: 1px dotted black;
    margin-bottom: 5px;
}

.ringEventListTable {
    background-color: white;
    font-size: 90%;
    width: 100%;
}

.ringEventListHead {
    white-space: nowrap;
}

.ringEventListHead th {
    border-bottom: 1px solid black;
    font-weight: bold;
    text-align: center;
}

.ringEventListBody {
/*    height: 150px;*/
    overflow-y: auto;
    overflow-x: hidden;
}

.ringEventListItemRow {
    cursor: pointer;
    font-size: 90%;
    vertical-align: top;
}

.ringEventListItemCode,
.ringEventListItemCompetitorCount,
.ringEventListItemDetails {
    padding: 1px 2px;
}

.ringEventListItemCode,
.ringEventListItemCompetitorCount {
    font-family: "Courier New", monospace;
}

.ringEventListItemCode {
    text-align: center;
}

.ringEventListItemCompetitorCount {
    text-align: right;
}

.ringEventListItemDetails {
    font-size: 90%;
    padding-right: 20px;
    vertical-align: middle;
}

.evenRow {
}

.oddRow {
    background-color: thistle;
}

.highlightRow {
    background-color: yellow;
}

.eventScoring {
/* temp */
    background-color: cornsilk;
}

.eventScoringControlBox {
    float: right;
}

.eventScoringControl {
    border: 1px dotted black;
    cursor: pointer;
    font-size: 80%;
    margin: 0 2px;

/* temp */
    background-color: skyblue;
}

.eventScoringContent {
    border: 1px dotted black;
/* temp */
    background-color: white;
}

.eventScoringHeaderCell {
    border-bottom: 1px solid #000;
    font-size: 70%;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
}

.shadedEventScoring .eventScoringContent {
    display: none;
}

.scoringCompetitorId,
.scoringCompetitorName,
.scoringInput {
    padding: 1px 2px;
    white-space: nowrap;
}

.scoringCompetitorId {
    font-family: "Courier New", monospace;
    font-size: 70%;
}

.scoringCompetitorName {
}

.scoringInput {
    font-size: 90%;
    text-align: center;
}

.scoringInput input {
    background-color: #FFF;
    border: 1px solid #000;
    text-align: center;
    width: 3em;
}

.judgeScore {
    background-color: #70A7AB;
}

.routineTime {
    background-color: #8470AB;
}

.meritedScore input,
.finalScore input,
.tieBreakerValue input {
    background-color: #EEE;
    color: #666;
}


.finalScore input {
    font-weight: bold;
    color: blue;
}

.meritedScore,
.timeDeduction,
.otherDeduction {
    background-color: #70AB82;
}

.finalScore,
.tieBreakerValue {
    background-color: #AB7094;
}

.tieBreakerValue input {
    width: 2em;
}

.controlSubmitScore {
}
