.eventOrder {
    position: relative;
}


.eventOrder .detailsBox {
    background-color: black;
    color: white;
    height: 3.75em;
    padding: 2px 5px;
    position: fixed;
    top: 0;
    width: 100%;
}

.eventOrder table {
    margin-top: 4em;
}

.eventOrder td {
    vertical-align: top;
}

.eventSummary {
    background-color: #EEE;
    border: 1px dotted black;
    font-family: monospace;
    margin: 1px;
    padding: 0 2px;
    white-space: nowrap;
}

.detailsTitle {
    display: block;
    font-size: 110%;
}

.eventDetails,
.databaseDetails {
    display: block;
    font-size: 90%;
    padding-left: 50px;
}
